<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='css/fav.png') }}" type="image/x-icon">
    <title>{% block title %}Base{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <div class="nav">
            <div class="nav-item" id="post"><a href="{{ url_for('views.home') }}">POST</a></div>
            <div class="nav-item profile" id="profile">
                <a href="{{ url_for('views.profile') }}">PROFILE</a>
            </div>
        </div>
        <div class="post-view-area">
        {% block home %}{% endblock %}
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>