{% extends "sign_up.html" %}
{% block title %}Login{% endblock %}
{% block header %}Login{% endblock %}

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="{{ category }}" style="color: red; font-size: 15px;">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}


{% block action %}<form action="/auth/login" method="post">{% endblock %}
{% block confirm %}{% endblock %}
{% block submit %}<input type="submit" value="Login">{% endblock %}
{% block authtext %}<div class="text">U don't have any account?</div>{% endblock %}
{% block changeauth %}<a href="{{url_for('auth.sign_up')}}">Signup</a>{% endblock %}